{% extends 'base.html' %}

{% block title %}Dodgeball Management App{% endblock %}

{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .scoreboard {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
  }

  .header h1 {
    margin: 0;
  }

  .game-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  .game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
  }

  .team {
    flex: 1;
    text-align: center;
  }

  .score {
    width: 50px;
    text-align: center;
  }

  .game-status {
    font-size: 0.8em;
    margin-top: 0.5em;
  }

  .court {
    font-weight: bold;
  }

  .wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #000;
    margin-bottom: 10px;
    cursor: pointer; /* Add cursor for visual indication */
  }

  .clickable-div .row {
    margin-bottom: 5px;
  }
</style>
<script>
  // Check if the user is an admin and the match has not started
  function checkAdminAndRedirect(matchId, isAdmin, matchStatus) {
    if (matchStatus == "Not Started" && isAdmin == "False") {
      // Alert non-admin users to wait for the match to begin
      alert("Please wait for the match to begin.");      
    } else if (matchStatus == "Completed") {
      // Redirect admins to the job selection page
      window.location.href = `/match/${matchId}/summary`;
    } else {
      // Redirect admins to the job selection page
      window.location.href = `/match/${matchId}`;
    }
  }
</script>
<div class="scoreboard">
  <div class="game-container">
    {% block matches %}
      {% for match in matches %}
        <div class="wrapper clickable-div" onclick="checkAdminAndRedirect('{{ match.matchID }}', '{{ user.is_superuser }}', '{{ match.status }}')">
          <div class="row">
            {{ match.team1 }} {{ match.team1Score }} - {{ match.team2 }} {{ match.team2Score }} {{ match.status }}
          </div>
          <div class="row">Court {{ match.courtNumber }}</div>
          <div class="row">{{ match.event }} {{ match.startDate }}</div>
        </div>
      {% endfor %}
    {% endblock matches %}
  </div>
</div>
{% endblock %}
